/*styles for storage_viewer*/

.table-cell{
  padding:0 10px 0 10px;
}

#extensionOverlay {
  position: fixed !important;
  top:10px !important;
  right:5px !important;
  color:white !important;
  font-size: 12px !important;
  font-family: sans-serif !important;
  font-weight: bold !important;
  border-radius: 10px !important;
  font-family: Helvetica !important;
  background: rgba(54, 25, 25, .5) !important;
  z-index: 888888888888 !important;
}

#noOptionsConfigured {
  padding: 8px 5px 0 5px !important;
}

#overlayTable {
  margin-top:7px !important;
  margin-bottom: 7px !important;
}

#overlayTableRow {
  border-bottom:1pt solid white !important;
}

.overlayTableHeader {
  padding:3px 10px 0 10px !important;
}

.overlayRefreshButton {
  width:20px !important;
  height:20px !important;
  display:block !important;
  float: right !important;
  cursor:pointer !important;
}

.overlayCopyButton {
  width:15px !important;
  height:15px !important;
  display:block !important;
  cursor:pointer !important;
}

.inputValue{
  background:none !important;
  border:none !important;
  width: 100% !important;
  color:white !important;
  font-family:Helvetica !important;
  max-width:300px !important;
}
